{% extends 'Paginas/modelo.html' %}
{% load static %}
{% block conteudo %}



<title>Página Inicial</title>

<h1 tabindex="0">
  Sistema de Automação Escolar
</h1>
<br>
<h4 tabindex="0">
  Um projeto desenvolvido pelos alunos dos Pólos Meninos, Pêra Marmelo e Jambeiro
  <br>
  <br>
  Projeto Integrador - PJI310-A2022S2-006 GRUPO 001
</h4>
<img src="{% static 'img/UnivespLogo.png' %}" width="200" alt="" />


<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 tabindex="0" class="section-title bg-white text-center text-secondary px-3">Projeto Integrador III</h6>
            <h1 tabindex="0" class="mb-5">Alunos</h1>
        </div>
        <div class="row g-3">
            <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                      
                    </div>
                    <div class="text-center p-3">
                        <h5 tabindex="0" class="mb-0">Antonio Carlos Mano</h5>
                        <small tabindex="0">RA 2009899</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                      
                    </div>
                    <div class="text-center p-3">
                        <h5 tabindex="0" class="mb-0">Gislaine A Azevedo</h5>
                        <small tabindex="0">RA 2012905</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        
                    </div>
                    <div class="text-center p-3">
                        <h5 tabindex="0" class="mb-0">Marilia S Almeida</h5>
                        <small tabindex="0">RA 2007910</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        
                    </div>
                    <div class="text-center p-3">
                        <h5 tabindex="0" class="mb-0">Marcelo B de Oliveira</h5>
                        <small tabindex="0">RA 2000843</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        
                    </div>
                    <div class="text-center p-3">
                        <h5 tabindex="0" class="mb-0">W Stanley Gonçalves</h5>
                        <small tabindex="0">RA 2005081</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item bg-light">
                    <div class="overflow-hidden">
                        
                    </div>
                    <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                        
                    </div>
                    <div class="text-center p-3">
                        <h5 tabindex="0" class="mb-0">Wilson C da Silva</h5>
                        <small tabindex="0">RA 2004793</small>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br>
    <!-- Back to Top -->
    <a href="#" aria-label="voltar ao inicio" class="btn btn-sm btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

</div>
<!-- Team End -->


{% endblock %}
