{% extends 'Paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

<h3 tabindex="0">Lista de Medicamentos</h3>
<a href="{% url 'medicamento-cadastrar' %}" class="btn btn-primary btn-sm">Adicionar Medicamento</a>
<hr>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tr>
      <th tabindex="0">Nome</th>
      <th tabindex="0">Descrição</th>
      <th tabindex="0">Opções</th>
    </tr>
    {% for medicamento in object_list %}
    <tr>
      <td>
        {{ medicamento.Nome }}
      </td>
      <td>
        {{ medicamento.Descricao }}
      </td>
      <td>
        <a href="{% url 'medicamento-editar' medicamento.pk %}" class="btn btn-warning btn-sm" title="Editar"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <a href="{% url 'medicamento-excluir' medicamento.pk %}" class="btn btn-danger btn-sm" title="Excluir"><i class="fa fa-trash" aria-hidden="true"></i></a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td tabindex="0" colspan="3">
        Nenhum medicamento cadastrado
      </td>
    </tr>
    {% endfor %}
  </table>

  <!-- Back to Top -->
  <a href="#" aria-label="voltar ao inicio" class="btn btn-sm btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

</div>

{% endblock %}
