{% extends 'Paginas/modelo.html' %}

{% load static %}

{% block conteudo %}

<h3 tabindex="0">Lista de Responsáveis por Alunos</h3>
<a href="{% url 'responsavelaluno-cadastrar' %}" class="btn btn-primary btn-sm">Adicionar Responsável por Aluno</a>
<hr>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tr>
      <th tabindex="0">Responsável</th>
      <th tabindex="0">Aluno</th>
      <th tabindex="0">Ações</th>
    </tr>
    {% for responsavelaluno in object_list %}
    <tr>
      <td>
        {{ responsavelaluno.Responsavel.Pessoa.Nome }}
      </td>
      <td>
        {{ responsavelaluno.Aluno.Pessoa.Nome }}
      </td>
      <td>
        <a href="{% url 'responsavelaluno-excluir' responsavelaluno.pk %}" class="btn btn-danger btn-sm" title="Excluir"><i class="fa fa-trash" aria-hidden="true"></i></a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td tabindex="0" colspan="3">
        Nenhum responsável por aluno cadastrado
      </td>
    </tr>
    {% endfor %}
  </table>

  <!-- Back to Top -->
  <a href="#" aria-label="voltar ao inicio" class="btn btn-sm btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

</div>

{% endblock %}
